{% extends "base.html" %}
{% block content %}
<div class="main-area">
    <div class="main-box">
        <div class="main-title">Info</div>
        <div class="main-body">
            <table border="1" class="gridtable" style="width:100%; border-collapse: collapse;">
              <thead>
                <tr>
                  <th>Prezime</th>
                  <th>Ime</th>
                  <th>Puni broj telefona</th>
                  <th>Kratki broj telefona</th>
                  <th>mail adresa</th>
                </tr>
              </thead>
              <tbody>
                <tr><td>Bakarić</td><td>Ivan</td><td>385912895135</td><td>247</td><td>ivan.bakaric@etranet.hr</td></tr>
                <tr><td>Baničević</td><td>Neven</td><td>385912895120</td><td>244</td><td>neven.banicevic@etranet.hr</td></tr>
                <tr><td>Bogdanić Pirić</td><td>Nina</td><td>385912895101</td><td>226</td><td>nina.bogdanic.piric@etranet.hr</td></tr>
                <tr><td>Boras</td><td>Tomislav</td><td>385912995124</td><td>204</td><td>tomislav.boras@etranet.hr</td></tr>
                <tr><td>Cug</td><td>Davor</td><td>385912895114</td><td>238</td><td>davor.cug@etranet.hr</td></tr>
                <tr><td>Čibarić</td><td>Sebastijan</td><td></td><td></td><td>sebastijan.cibaric@etranet.hr</td></tr>
                <tr><td>Dizdarević</td><td>Vlatka</td><td>385992895022</td><td>278</td><td>vlatka.dizdarevic@etranet.hr</td></tr>
                <tr><td>Đukić</td><td>Davorin</td><td>385912895106</td><td>230</td><td>davorin.dukic@etranet.hr</td></tr>
                <tr><td>Fišer</td><td>Sebastijan</td><td>385998070417</td><td>276</td><td>sebastijan.fiser@etranet.hr</td></tr>
                <tr><td>Garašić</td><td>Saša</td><td>385912895107</td><td>231</td><td>sasa.garasic@etranet.hr</td></tr>
                <tr><td>Gluhak</td><td>Fran</td><td>385912895104</td><td>229</td><td>fran.gluhak@etranet.hr</td></tr>
                <tr><td>Golomejić</td><td>Léon</td><td>385992895006</td><td>267</td><td>leon.golomejic@etranet.hr</td></tr>
                <tr><td>Grgurić</td><td>Paola</td><td>385912895127</td><td>266</td><td>paola.grguric@billy.hr</td></tr>
                <tr><td>Gruica</td><td>Dino</td><td>385912895116</td><td>240</td><td>dino.gruica@etranet.hr</td></tr>
                <tr><td>Halužan</td><td>Vlatka</td><td>385912895119</td><td>243</td><td>vlatka.haluzan@etranet.hr</td></tr>
                <tr><td>Hrup</td><td>Mario</td><td>385912995120</td><td>200</td><td>mario.hrup@etranet.hr</td></tr>
                <tr><td>Knez</td><td>Tomislav</td><td>385912895118</td><td>242</td><td>tomislav.knez@etranet.hr</td></tr>
                <tr><td>Koch</td><td>Sven</td><td>385912995125</td><td>205</td><td>sven.koch@etranet.hr</td></tr>
                <tr><td>Lalić</td><td>Tanja</td><td>385992895007</td><td>268</td><td>tanja.lalic@etranet.hr</td></tr>
                <tr><td>Lesničar</td><td>Damir</td><td>385912995123</td><td>203</td><td>damir.lesnicar@etranet.hr</td></tr>
                <tr><td>Lisac</td><td>Hrvoje</td><td>385912895102</td><td>227</td><td>hrvoje.lisac@etranet.hr</td></tr>
                <tr><td>Lisica</td><td>Ognjen</td><td>385912895117</td><td>241</td><td>ognjen.lisica@etranet.hr</td></tr>
                <tr><td>Ljoljić</td><td>Marin</td><td>385912895110</td><td>234</td><td>marin.ljoljic@etranet.hr</td></tr>
                <tr><td>Ljubičić</td><td>Barbara</td><td>385912895130</td><td>220</td><td>barbara.ljubicic@billy.hr</td></tr>
                <tr><td>Nad</td><td>Marko</td><td></td><td></td><td>marko.nad@etranet.hr</td></tr>
                <tr><td>Pavić</td><td>Marčelo</td><td></td><td></td><td>marcelo.pavic@etranet.hr</td></tr>
                <tr><td>Popić</td><td>Danijel</td><td></td><td></td><td>danijel.popic@etranet.hr</td></tr>
                <tr><td>Popović</td><td>Saša</td><td>385912895111</td><td>235</td><td>sasa.popovic@etranet.hr</td></tr>
                <tr><td>Popović</td><td>Igor</td><td>385912895125</td><td>215</td><td>igor.popovic@etranet.hr</td></tr>
                <tr><td>Rakoš</td><td>Milan</td><td></td><td></td><td>milan.rakos@etranet.hr</td></tr>
                <tr><td>Sakač</td><td>Danijela</td><td>385992895010</td><td>271</td><td>danijela.sakac@etranet.hr</td></tr>
                <tr><td>Seferi</td><td>Mateo</td><td>385958347552</td><td></td><td>mateo.seferi@etranet.hr</td></tr>
                <tr><td>Soldo</td><td>Luka</td><td>385992895005</td><td>265</td><td>luka.soldo@etranet.hr</td></tr>
                <tr><td>Strelar</td><td>Tomislav</td><td>385921930272</td><td></td><td>tomislav.strelar@etranet.hr</td></tr>
                <tr><td>Sulajmani</td><td>Luka</td><td>385992895009</td><td>270</td><td>luka.sulajmani@etranet.hr</td></tr>
                <tr><td>Šarkanj</td><td>Mijo</td><td>385992895016</td><td>275</td><td>mijo.sarkanj@etranet.hr</td></tr>
                <tr><td>Šimić</td><td>Marko</td><td>385912895137</td><td>257</td><td>marko.simic@etranet.hr</td></tr>
                <tr><td>Šipek</td><td>Mario</td><td>385992895011</td><td>272</td><td>mario.sipek@etranet.hr</td></tr>
                <tr><td>Šlibar</td><td>Damir</td><td>385912895108</td><td>232</td><td>damir.slibar@etranet.hr</td></tr>
                <tr><td>Tadić</td><td>Luka</td><td>385912995128</td><td>208</td><td>luka.tadic@etranet.hr</td></tr>
                <tr><td>Turčić</td><td>Anton</td><td>385912895136</td><td>248</td><td>anton.turcic@etranet.hr</td></tr>
                <tr><td>Turk</td><td>Jurica</td><td>385912995131</td><td>209</td><td>jurica.turk@etranet.hr</td></tr>
                <tr><td>Vojić</td><td>Ivan</td><td>385912895121</td><td>245</td><td>ivan.vojic@etranet.hr</td></tr>
                <tr><td>Vouk</td><td>Mario</td><td>385912895126</td><td>216</td><td>mario.vouk@etranet.hr</td></tr>
                <tr><td>Vuica</td><td>Mišel</td><td>385912995126</td><td>206</td><td>misel.vuica@etranet.hr</td></tr>
                <tr><td>Vujasin</td><td>Šime</td><td>385918964616</td><td></td><td>sime.vujasin@etranet.hr</td></tr>
                <tr><td>Vukšić</td><td>Toni</td><td>385912895112</td><td>236</td><td>toni.vuksic@etranet.hr</td></tr>
                <tr><td>Zarić</td><td>Velimir</td><td>385912895122</td><td>246</td><td>velimir.zaric@etranet.hr</td></tr>
                <tr><td>Zec</td><td>Damir</td><td>385917611517</td><td></td><td>damir.zec@etranet.hr</td></tr>
                <tr><td>RECEPCIJA</td><td></td><td>6402-000</td><td></td><td></td></tr>
                <tr><td>PODRŠKA</td><td></td><td>6402-020</td><td></td><td></td></tr>
                <tr><td>PRODAJA</td><td></td><td>6402-019</td><td></td><td></td></tr>
                <tr><td>HT PODRŠKA</td><td></td><td>0800 0005</td><td></td><td></td></tr>
              </tbody>
            </table>
            <div style="margin-top: 15px; text-align: right;">
                <button id="editListBtn" type="button" style="padding: 8px 16px; font-size: 14px; cursor: pointer;">
                    Uredi popis
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
